body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar{
  border-radius: 0px;
  padding: 20px 40px;
}

.inline{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.space{
  padding-left: 25px;
  padding-right: 25px;
}

.white{
  color: white;
}

.border_bottom{
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  padding-top: 20px;
 
}


